<div
	layout="column">
	<div>
		<md-button ng-click="loading=!loading">
			Toggle loading
		</md-button>
	</div>	
	<div
		mb-preloading="loading">
		<div>
			<md-input-container>
			  <label>Title</label>
			  <input ng-model="user.title">
			</md-input-container>
			
			<md-input-container>
			  <label>Email</label>
			  <input ng-model="user.email" type="email">
			</md-input-container>
		</div>
	</div>
</div>