<div
	wb-infinate-scroll="nextPage"
	layout="column"
	flex>
	
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-sort-keys="sortKeys"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<md-list>
		<md-list-item 
			ng-repeat="object in ctrl.items track by object.id"
			ng-href="{{'collections/'+object.id}}"
			class="md-3-line">
			<wb-icon>storage</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{object.title}}</h3>
				<h4>{{object.name}}</h4>
				<p>{{object.description}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
	</md-list>
  
	<div
		layout="column"
		layout-align="center center"
		ng-show="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty collection list</h2>
		<p>Any collection match with the query. You can add a new collection by 
			click on the add button. Collections are a place to store data.</p>
		<md-button
			ng-click="addCollection()">
			<wb-icon>add</wb-icon>
			<span translate="">Add</span>
		</md-button>
	</div>
</div>

