/*
 * This class added into the element in preload state.
 */
.amd-preload {
	background: #999999 url("../images/amd/loader.gif") no-repeat center;
	min-height: 1px;
	min-width: 1px;
	pointer-events: none;
}

/*
 * This class added to elements in preload initialization
 */
.amd-preload-animate {
	transition: all linear 0.5s;
}